{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 80,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
      "^react",
      "^@?\\w",
      "^(?!.*\\.(css|less|sass|scss|styl|json)$).*$",
      "^\\./",
      "^\\./.*$",
      "^\\../",
      "^\\../.*$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }
  